## SCM
.git

## Config Files
## --
## If used ad Volumes
## If you use COPY statement, remove the files from this list
## https://docs.docker.com/reference/builder/#copy

## Docker Configs
Dockerfile
docker-compose.yaml
